{% extends 'main_app/base.html' %}

{% block body_block %}
<br></br>

{% url 'main_app:home' as home_url %}

{% if request.path == home_url %}
<a href='{% url "main_app:create" %}'><button type="button" class="btn btn-success btn-lg btn-block">Add Note</button></a></br></hr>
<hr>
{% else %}
{% endif %}


{% if objects_list %}
{% for obj in objects_list %}<center>
&emsp; &emsp;   {{ obj }} &emsp; 
{% for tag in obj.tags.all %}

<span class="badge badge-pill badge-success">{{ tag.tag }}</span> 
{% endfor %} 


<form method='POST' style="float: right" action='{% url "main_app:archive" %}'>
 {% csrf_token %}
 <input type='hidden' value="{{ obj.pk }}" name='pk'>
 {% if not obj.archive %}
   <input type='submit' value='Archive' name='Archive'>
  {% else %}
  <input type='submit' value='Un-archive' name='Unarchive'>
{% endif %}
  </form> 

 | 
<a href='{% url "main_app:edit" pk=obj.pk %}'>
<button type="button" class="btn btn-outline-warning">Edit</button></a>
 <a href='{% url "main_app:delete" pk=obj.pk %}'><button type="button" class="btn btn-outline-danger">Delete</button><a>
 &emsp;

 <form method='POST' style="float: right" action='{% url "main_app:done" %}'>
 {% csrf_token %}
 <input type='hidden' value="{{ obj.pk }}" name='pk'>
 {% if not obj.done %}
   <input type='submit' value='Done' name='Done'>
  {% else %}
  <input type='submit' value='undone' name='undone'>
{% endif %}
    
  </form>
&emsp;
<br>
</hr>
<br>




{% endfor %}

{% endif %}
</center>
{% endblock %}

