{% extends 'main_app/base.html' %}

{% block body_block %}
<br></br>

{% url 'main_app:home' as home_url %}

{% if request.path == home_url %}
<a href='{% url "main_app:create" %}'><button type="button" class="btn btn-success btn-lg btn-block">Add Note</button></a></br></hr>
<hr>
{% else %}
{% endif %}


{% if objects_list %}
{% for obj in objects_list %}<center>
&emsp; &emsp;   {{ obj }} &emsp; 
<a class="btn btn-primary" href="#" role="button">archive</a> | 
<a href='{% url "main_app:edit" pk=obj.pk %}'>
<button type="button" class="btn btn-outline-warning">Edit</button></a>
 <a href='{% url "main_app:delete" pk=obj.pk %}'><button type="button" class="btn btn-outline-danger">Delete</button><a>
 &emsp;

 <form method='POST' style="float: right" action='{% url "main_app:done" %}'>
 {% csrf_token %}
 <input type='hidden' value="{{ obj.pk }}" name='pk'>
    <input type='submit' value='done' name='done'>
  </form>
&emsp;
<br>
</hr>
<br>


{% endfor %}
{% endif %}
</center>
{% endblock %}

