{% extends 'main_app/base.html' %}

{% block body_block %}
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>


<br></br>

{% url 'main_app:home' as home_url %}

<div class='container-sm'>
  <form method='get' action="{% url 'main_app:search' %}">

        <div class="input-group md-3">
          <select id="category" class="form-control" name="category" style="margin:10px">
            <option selected>Select Categories...</option>
            {% for cat in categories %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
          </select>
            <div class="input-group-prepend"> 
            <input class='button' style="float: " type='submit' name='submit' class='btn btn-primary form-control-sm center'>
            </div>
        </div>
  </form>
  </div>

{% if request.path == home_url %}
<a href='{% url "main_app:create" %}'><button type="button" class="btn btn-success btn-lg btn-block">Add Note</button></a></br></hr>
<br>
{% else %}
{% endif %}



{% if objects_list %}
<div class='container-sm'>
<ul class="list-group">

{% for obj in objects_list %}<center>
&emsp; &emsp; <li class="list-group-item">
              <a class='no-blue' href="{{ obj.get_absolute_url }}">{{ obj }}</a> &emsp; 


  {% for tag in obj.tags.all %}
  <span class="badge badge-pill badge-success">{{ tag.tag }}</span> 
  {% endfor %} 


    <form method='POST' style="float: right" action='{% url "main_app:archive" %}'>
      {% csrf_token %}
      <input type='hidden' value="{{ obj.pk }}" name='pk'>
      {% if not obj.archive %}
        <input type='submit' value='Archive' name='Archive' class='btn btn-outline-dark'>
        {% else %}
        <input type='submit' value='Un-archive' name='Unarchive' class='btn btn-outline-dark'>
      {% endif %}
    </form> 

    | &emsp;
    <a href='{% url "main_app:edit" pk=obj.pk %}'>
    <button type="button" class="btn btn-outline-warning">Edit</button></a>
    <a href='{% url "main_app:delete" pk=obj.pk %}'><button type="button" class="btn btn-outline-danger">Delete</button><a>
    &emsp;

    <form method='POST' style="float: right" action='{% url "main_app:done" %}'>
      {% csrf_token %}
      <input type='hidden' value="{{ obj.pk }}" name='pk'>
        {% if not obj.done %}
          <input type='submit' value='Done' name='Done' class='btn btn-outline-dark'>
        {% else %}
          <input type='submit' value='undone' name='undone' class='btn btn-outline-dark'>
        {% endif %}
    </form>

    &emsp;


</li>
{% endfor %}
</ul>

</div>
{% endif %}
</center>
{% endblock %}

